PORT=3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


JWT_SECRET="your-super-secret-key-change-this"

# Google Cloud Storage
GCS_BUCKET_NAME="skill_bridge_resources"
GCS_PROJECT_ID="skillbridge-489717"
GCS_KEY_FILE="./gcs-key.json"

# Redis
REDIS_URL="redis://localhost:6379"

# Qdrant
QDRANT_URL="http://localhost:6333"
DATABASE_URL="postgresql://postgres:randompassword@localhost:5432/postgres"

OPENAI_API_KEY=""

TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+1xxxxxxxxxx

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
RESEND_API_KEY=
EMAIL_FROM=onboarding@resend.dev
GCS_KEY_BASE64=